HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

AuthQuery.sql
ecom
apigateway/target/
authservice/target/
catalogservice/target/
productservice/target/
user-service/target/
service-discovery/target/


apigateway/.idea
authservice/.idea
catalogservice/.idea
productservice/.idea
user-service/.idea
service-discovery/.idea

apigateway/.mvn
authservice/.mvn
catalogservice/.mvn
productservice/.mvn
user-service/.mvn
service-discovery/.mvn

apigateway/mvnw
authservice/mvnw
catalogservice/mvnw
productservice/mvnw
user-service/mvnw
service-discovery/mvnw

apigateway/mvnw.cmd
authservice/mvnw.cmd
catalogservice/mvnw.cmd
productservice/mvnw.cmd
user-service/mvnw.cmd
service-discovery/mvnw.cmd

common/mvnw.cmd
common/mvnw
common/.mvn
common/.idea
common/target/